{% load static %}


<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="{%static "css/static1.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="red">
   <div>
    {% for post in posts  %}
    <div>
        <p>published: {{ post.title  }}</p>
        <p>published : {{ post.text}}</p>
         <p> created_date: {{ post.created_date }}
    </div>
    {% endfor %}
   </div>
</body>
</html>